* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: black;
}

.flex {
    display: flex;
}

.btn_entre button {
    width: 120px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF8702;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    height: 35px;
    color: white;
}

button:hover,
form .btn_enviar input:hover {
    box-shadow: 0px 0px 8px #FF8702;
    transform: scale(1.05);
}

/*       HEADER       */

.informacoes {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 15px;
}

header {
    height: 50px;
}

header>.informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 20px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.logo span {
    color: #FF8702;
}

header a {
    text-decoration: none;
    color: white;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #FF8702;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}


header nav ul li {
    display: inline-block;
    padding: 0 10px;
    letter-spacing: 1px;
    font-size: 15px;
}

button:hover {
    box-shadow: 0px 0px 8px #FF8702;
    transform: scale(1.05);
}



/*           TOPO DO SITE         */

.background img {
    position: absolute;
    height: 88.5%;
}

section .interface {
    position: relative;
    padding: 40px 10%;
}

.txt_topo_site {
    margin-top: -40px;
}

.img_topo_site {
    margin-top: -40px;
}

section.topo_do_site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo_do_site h1 {
    color: #fff;
    font-size: 35px;
    line-height: 40px
}

.topo_do_site h1 span {
    color: #FF8702;
}

.topo_do_site h2 {
    color: #FF8702;
    font-size: 20px;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 10px;
}

.topo_do_site .txt_topo_site p {
    color: #fff;
    margin: 20px 0;
}

.topo_do_site .img_topo_site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
    height: 500px;
}

.btn_experimente button {
    width: 170px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FF8702;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
    height: 40px;
    color: white;
    margin-top: 25px;
}

@keyframes flutuar {
    0% {
        top: 0;
    }

    100% {
        top: 30px;
    }
}

/*     DESCRICAO     */

section.descricao_do_site {
    height: 540px;
    position: relative;
    background-color: #FFF1C2;

}

.descrição p {
    padding: 50px;
    color: #000;
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.images {
    display: flex;
}

.images img {
    height: 333px;
}


/*     CARDAPIO     */

section.cardapio {
    padding: 0px 10%;
    height: 500vh;
}

.titulo {
    margin-top: 80px;
    text-align: center;
    color: #fff;
}

.titulo h1 {
    text-transform: uppercase;
}

.titulo h1 span {
    color: #FF8702;
}

.titulo p span {
    font-weight: bold;
}

.tipos_queijo {
    text-transform: uppercase;
    color: #fff;
    margin-top: 100px;
}

.tipos {
    text-transform: uppercase;
    color: #fff;
}

.opcoes{
    display: flex;
    justify-content: center; 
    margin-top: 40px;
}

.descricao_produto {
    color: #fff;
    width: 80%;
}

.descricao_produto h1{
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 25px;
}

.pizza_escolha img{
    height: 250px;
}
